Cython>=0.29.21
fancyimpute>=0.7.0
glmnet>=2.2.1
glmnet_python>=0.2.0
joblib>=0.16.0
lifelines>=0.25.7
matplotlib>=3.2.2
numpy>=1.19.5
pandas>=1.0.5
progressbar33>=2.4
pycox>=0.2.1
scikit_learn>=1.1.1
scipy>=1.5.0
seaborn>=0.11.2
sklearn_pandas>=2.2.0
torch>=1.11.0
torchtuples>=0.2.0
